#groupsnews{

}
#groupsnews form{
  margin-block: 50px;

  font-size: 0;
}
#groupsnews form fieldset{
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 18px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
#groupsnews form fieldset legend{

}
#groupsnews form fieldset select{
  background-color: white;
  border: 1px solid #ccc;
  padding: 7px;
}
#groupsnews form fieldset select:nth-of-type(-n+2){
  width: calc(50% / 2 - 50% / 8 - 18px / 3 - 20px / 6 );
}
#groupsnews form fieldset select:nth-of-type(3){
  width: calc(50% / 4 - 18px / 3 - 20px / 6 );
}
#groupsnews form fieldset select option{

}
#groupsnews form fieldset input[type="text"]{
  border: 1px solid #ccc;
  width: calc(50% / 4 * 3 - 20px / 6 );
  transform: scaleX(98%);
  transform-origin: 100% 50%;
  padding-left: 7px;
}
#groupsnews form fieldset input[type="submit"]{
  background-color: #00a0c6;
  color: white;
  border: 1px solid #ccc;
  width: calc(50% / 4 - 50% / 12 - 20px / 6 );
}
#groupsnews form fieldset input[type="reset"]{
  background-color: #767676;
  border: 1px solid #ccc;
  width: calc(50% / 12 - 20px / 6 );
  background-image: url(../img/reset.jpg);
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}
#groupsnews section div ul{
  padding-top: 30px;
}
#groupsnews section div ul li{
  margin-bottom: 40px;
}
#groupsnews section div ul li a{
  display: grid;
  grid-template-columns: 25% calc(75% - 30px);
  column-gap: 30px;
  row-gap: 16px;
  grid-template-rows: auto 1fr;
}
#groupsnews section div ul li a figure{
  grid-row: 1 / span 3;
}
#groupsnews section div ul li a h3{

}
#groupsnews section div ul li a p{
  line-height: 1.5;
    
}
#groupsnews section div ul li a p:nth-of-type(1){
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#groupsnews section div ul li a p.date{

}